@import "tailwindcss";

:root {
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-oneday: var(--font-oneday);
  --color-primary: #ffd700;
  --color-primary-dark: #e6c200;
  --color-secondary: #1a1a1a;
  --color-accent: #ffeb3b;
  --color-background: #000000;
  --color-text: #ffffff;
}

@layer base {
  body {
    @apply bg-background text-text;
  }
}
